body {
  background-color: rgb(160, 160, 160);
}

canvas {
  background-color: white;
  display: block;
  height: 100%;
  width: 100%;
}

#app-container {
  display: flex;
  flex-direction: column;
}

#errors {
  color: red;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(143, 143, 143);
  padding: 10px;
  background-color: white;
}

input {
  padding: 4px;
  width: 95%;
  margin-bottom: 4px;
}

button {
  width: 95%;
  padding: 8px;
}

form[hidden] {
  display: none !important;
}

#app-container[hidden] {
  display: none !important;
}